In [1]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [4]:
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

x = Gizmo()
y = Gizmo() * 10

Gizmo id: 135314936252752
Gizmo id: 135314956479392

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [6]:
charles = {'name': 'Charles L. Dodgson', 'born':1832}
lewis = charles

In [7]:
lewis is charles

True

In [8]:
id(charles), id(lewis)

(135314935598784, 135314935598784)

In [9]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [10]:
alex = {'name': 'Charles L. Dodgson', 'born':1832, 'balance': 950}
alex == charles

True

In [11]:
alex is charles

False

In [12]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [13]:
id(t1[-1])

135314936719104

In [14]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 135314936719104)

In [15]:
t1 == t2

False

In [16]:
l1 = [3, [55,44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [17]:
l2 == l1

True

In [18]:
l2 is l1

False

In [19]:
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)

In [20]:
l1.append(100)

In [21]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [22]:
l2[1] += [33,22]

In [23]:
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [24]:
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [25]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(135314935931552, 135314934381600, 135314934370752)

In [26]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [27]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(135314941455808, 135314941455808, 135314937678656)

In [28]:
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [29]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [30]:
def f(a,b):
  a += b
  return a

In [31]:
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [32]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [33]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [34]:
class HauntedBus:
  def __init__(self, passengers=[]):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [35]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [36]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [37]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [38]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [39]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [40]:
bus2.passengers is bus3.passengers

True

In [41]:
bus1.passengers

['Bill', 'Charlie']

In [42]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [43]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [44]:
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [45]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [46]:
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [47]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [48]:
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
  print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [49]:
del s1
ender.alive

True

In [50]:
s2 =  'spam'

Gone with the wind...

In [51]:
ender.alive

False